<!-- contacto.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Contacto</h1>
    <p>Puedes contactarnos a través de los siguientes métodos:</p>
    
    <h2>Correo Electrónico</h2>
    <p>Envíanos un correo a <a href="mailto:info@musica.com">info@musica.com</a> y te responderemos lo antes posible.</p>

    <h2>Teléfono</h2>
    <p>También puedes llamarnos al <strong>(123) 456-7890</strong> de lunes a viernes, de 9:00 AM a 5:00 PM.</p>

    <h2>Redes Sociales</h2>
    <p>Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades:</p>
    <ul>
        <li><a href="https://www.facebook.com/musica" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/musica" target="_blank">Instagram</a></li>
        <li><a href="https://www.twitter.com/musica" target="_blank">Twitter</a></li>
    </ul>



{% endblock %}
