<!-- nosotros.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Nosotros</h1>
    <p>Bienvenido a nuestra tienda, un punto de venta de música donde la pasión por la música se encuentra con la calidad y el servicio.</p>

  
    <h2>¿Qué Ofrecemos?</h2>
    <ul>
        <li><strong>Accesorios Musicales:</strong> Desde auriculares hasta equipos de sonido.</li>
    </ul>

    <h2>Por Qué Elegirnos</h2>
    <p>Nos esforzamos por ofrecer un servicio al cliente excepcional y asesoría personalizada. Nuestro objetivo es que cada visita a nuestra tienda sea memorable.</p>

    <h2>Únete a Nuestra Comunidad</h2>
    <p>Conéctate con nosotros a través de nuestras redes sociales y mantente al tanto de nuestras novedades, lanzamientos y eventos especiales.</p>
    
    <p><strong>¡Gracias por ser parte de nuestra Comunidad!</strong></p>
{% endblock %}
