<!-- servicios.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Servicios</h1>
    <p>En nuestra tienda, ofrecemos una variedad de servicios diseñados para satisfacer todas tus necesidades musicales.</p>

    <h2>Venta de Música</h2>
    <p>Contamos con una amplia selección de CDs, vinilos y descargas digitales en todos los géneros, desde los clásicos hasta los lanzamientos más recientes.</p>

    <h2>Alquiler de Equipos de Sonido</h2>
    <p>Si necesitas equipos de sonido para un evento, ofrecemos alquiler de altavoces, micrófonos y sistemas de PA. Pregunta por nuestras tarifas especiales.</p>

    <h2>Clases de Música</h2>
    <p>Ofrecemos clases de guitarra, piano y canto para todos los niveles. Aprende de músicos experimentados en un ambiente amigable y creativo.</p>


    
{% endblock %}
